.buttonContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttonContainer .blueButton {
    background-color: var(--blue) !important;
    margin: 5px;
}

.buttonContainer .blueButton:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}